$header-font-family: $body-font-family !default;
$header-font-weight: 300 !default;
$header-font-style: normal !default;
$header-font-color: black !default;
$header-line-height: 1.2 !default;
$header-top-margin: 10px !default;
$header-bottom-margin: 15px !default;
$header-text-rendering: optimizeLegibility !default;

$h1-font-size: 35px !default;
$h2-font-size: 30px !default;
$h3-font-size: 25px !default;
$h4-font-size: 22px !default;
$h5-font-size: 20px !default;
$h6-font-size: $base-font-size !default;

// A general <small> styling
$small-font-size: 80% !default;
$small-font-color: #a9a9a8 !default;

// Set box-sizing globally to handle padding and border widths
*,
*:before,
*:after {
  @include box-sizing(border-box);
}

/* Typography resets */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

/* Default Link Styles */
a {
  color: $color1;
  text-decoration: none;
  line-height: inherit;

  &:hover,
  &:focus { color: red; }

  img { border:none; }
}

/* Default paragraph styles */
p {
  /*font-family: $paragraph-font-family;
  font-weight: $paragraph-font-weight;
  font-size: $paragraph-font-size;
  line-height: $paragraph-line-height;
  margin-bottom: $paragraph-margin-bottom;
  text-rendering: $paragraph-text-rendering;*/
  line-height: 1.4;
  margin-bottom: 1em;
}

html,
body { font-size: $base-font-size; }

// Default body styles
body {
  background-color: $body-bg;
  color: $body-font-color;
  padding: 0;
  margin: 0;
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-style: $body-font-style;
  line-height: $base-line-height; // Set to $base-line-height to take on browser default of 150%
  position: relative;
  letter-spacing: $base-letter-spacing;

  /*// App scroll
  overflow: hidden;*/
}

a:hover { cursor: $cursor-pointer-value; }

// Grid Defaults to get images and embeds to work properly
img,
object,
embed { max-width: 100%; height: auto; }

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  font-style: $header-font-style;
  color: $header-font-color;
  text-rendering: $header-text-rendering;
  margin-top: $header-top-margin;
  margin-bottom: $header-bottom-margin;
  line-height: $header-line-height;

  small {
    font-size: $small-font-size;
    line-height: 0;
  }
}

h1 { font-size: $h1-font-size - 3px; }
h2 { font-size: $h2-font-size - 3px; }
h3 { font-size: $h3-font-size; }
h4 { font-size: $h4-font-size; }
h5 { font-size: $h5-font-size; }
h6 { font-size: $h6-font-size; }

@media #{$medium-up} {
  h1,h2,h3,h4,h5,h6 { line-height: $header-line-height; }
  h1 { font-size: $h1-font-size; }
  h2 { font-size: $h2-font-size; }
  h3 { font-size: $h3-font-size; }
  h4 { font-size: $h4-font-size; }
  h5 { font-size: $h5-font-size; }
  h6 { font-size: $h6-font-size; }
}

@mixin clearfix {
  *zoom:1;
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

.clearfix {
  @include clearfix;
}

i.icon {
  font-style: normal;
}

@mixin align-classes{
  .text-left    { text-align: left !important; }
  .text-right   { text-align: right !important; }
  .text-center  { text-align: center !important; }
  .text-justify { text-align: justify !important; }
}

@include align-classes;

hr {
  border: none;
  border-bottom: 1px solid #ddd;
  margin: 1em 0;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}