.banner {
  padding-top: 20px;
  padding-bottom: 20px;
  background: black;
  text-align: center;
  > div {
    @include centered-content($site-width);
  }
}

.banner--title {
  margin: 0 auto;
  position: relative;
  width: 50%;
  @media #{$medium-up} {
    width: 40%;
  }
  a {
    overflow: hidden;
    display: block;
    h1 {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  }
}
