.calc {
  
  input[readonly] {
    background: #ddd;
  }
  
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
}

.bf-gender {
  display: none;
  
  &.active {
    display: block;
  }
}

.bf-pick {
  display: none;
  
  &.active {
    display: block;
  }
}