.contentinfo {
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  > div {
    @include centered-content($site-width);
  }
}

.contentinfo--legal {
  max-width: 600px;
  font-size: 14px;
  p {
    margin-bottom: .5em;
  }
}
