.steps {
  text-align: center;

  .steps-bar {
    background: $body-bg;
    width: 100%;

    &.fixed {
      position: fixed;
      top: 0;
      z-index: 3;
    }
  }

  nav {
    @include centered-content($calc-width);
    margin-left: auto;
    margin-right: auto;
    background: white;
  }

  nav > ul {
    @include clearfix;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.steps-step {
  float: left;
  width: 14.28%;
  padding: 10px;
  font-size: 20px;

  &.active {
    background: $color1;
    color: black;
    font-weight: bold;
  }    
}

.step-wrap {
  transition: all 1s;
}

.step {
  position: relative;
  display: none;

  &.complete {
    display: block;
  }

  &.active {
    display: block;
  }
}

.step-header {
}

.step-progress {
  @include grid-row();
}

.step-intro {
  @include grid-row();
  
  .entry {
    @include grid-column(12);
    @media #{$large-up} {
      @include grid-column(10);
    }
  }
}

.step-outro {
  @include grid-row();
  margin-top: 1.5em;
  
  .entry {
    @include grid-column(12);
    @media #{$large-up} {
      @include grid-column(10);
    }
  }
}
