.steps {
  text-align: center;

  .steps-bar {
    background: $body-bg;
    width: 100%;

    &.fixed {
      position: fixed;
      top: 0;
      z-index: 3;
    }
  }

  nav {
    @include centered-content;
    margin-left: auto;
    margin-right: auto;
  }

  nav > ul {
    @include clearfix;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.steps-step {
  float: left;
  width: 16.6%;
  background: #333;

  &.active {
    background: white;

    a {
      color: black;
      font-weight: bold;
    }
  }

  a {
    display: block;
    padding: 10px;
    color: white;
  }
}

.step-wrap {
  transition: all 1s;
}

.step {
  position: relative;
  display: none;

  &.complete {
    display: block;
  }

  &.active {
    display: block;
  }
}

.step-header {
}

.step-progress {
}
