.steps {
  text-align: center;

  .steps-bar {
    background: $body-bg;
    width: 100%;

    &.fixed {
      position: fixed;
      top: 0;
      z-index: 3;
    }
  }

  nav {
    @include centered-content($calc-width);
    margin-left: auto;
    margin-right: auto;
    background: #252525;
  }

  nav > ul {
    @include clearfix;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.steps-step {
  float: left;
  width: 14.28%;
  font-size: 20px;
  overflow: hidden;
  line-height: 1;
  height: 50px;
  position: relative;
  background: #252525;
  color: white;

  > span {
    font-size: 80px;
    font-weight: bold;
    position: absolute;
    top: -17px;
    left: 0;
    display: block;
    width: 100%;    
  }
  
  &.active {
    background: $color1;
  }
  
  &.complete {
    background: $color1;
  }
}

.step-wrap {
  transition: all 1s;
}

.calc-advanced {

  .step {
    display: block;
  }
  
  .button.next {
    display: none;
  }
  
  .calc-advanced-view {
    display: block;
  }
}

.calc-advanced-view {
  display: none;
}

.step {
  position: relative;
  display: none;

  &.complete {
    display: block;
  }

  &.active {
    display: block;
  }
}

.step-header {
}

.step-progress {
  @include grid-row();
}

.step-intro {
  @include grid-row();
  
  .entry {
    @include grid-column(12);
    
    @media #{$large-up} {
    }
  
    p {
      font-size: 15px;
    }
  
  }
}

.step-outro {
  @include grid-row();
  margin-top: 1.5em;
  
  .entry {
    @include grid-column(12);
    
    @media #{$large-up} {
    }
  
    p {
      font-size: 15px;
    }
  }
}
