<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    @@include('./../includes/meta.html', {"title": "Home"})
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

        @@include('./../includes/banner.html', {"class": "has-hero"})

        <main id="content" class="group" role="main">
          <div class="main">

            <article class="post">

              <header class="post-header">
                <div>
                  <h1>Nutritional requirements calculator</h1>
                </div>
              </header>

              <div class="post-entry">

                <p>This tool will assess your body type, lifestyle, activities and goals and decide your daily requirements for Calories, Carbohydrates, Protein and Fats.</p>
                <p>You will then be taken to a tool which will use those figures to create your meal plan using the proven Gold Standard Nutrition range of products based upon the times of day which you wake up, go to bed and when you train.</p>

              </div>

            </article>

            <article>
              
              <div class="steps">
                <div class="steps-bar">
                  <nav>
                    <ul>
                      <li class="steps-step step-1 active">
                        <span>1</span>
                      </li>
                      <li class="steps-step step-2">
                        <span>2</span>
                      </li>
                      <li class="steps-step step-3">
                        <span>3</span>
                      </li>
                      <li class="steps-step step-4">
                        <span>4</span>
                      </li>
                      <li class="steps-step step-5">
                        <span>5</span>
                      </li>
                      <li class="steps-step step-6">
                        <span>6</span>
                      </li>
                      <li class="steps-step step-7">
                        <span>7</span>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>

              <section class="calculator">
                <div class="calc-form">
                <form method="get" action="">

                  <!--<div class="step-wrap">-->

                  <fieldset class="step step-1 active">

                    <div class="step-header row">
                      <div class="medium-12 columns">
                        <h2>Get started...</h2>
                      </div>
                    </div>

                    <div class="step-progress">

                      <div class="step-intro">
                        <div class="entry">

                          <p>The body's metabolism is different for men and women and it changes as we age. So please answer the following</p>

                        </div>
                      </div>

                      <div class="row">
                        <div class="small-12 medium-6 medium-centered columns">
                          <div class="row">
                            <div class="small-12 columns text-center">
                              <label>Select your sex</label>
                              <div class="row">
                                <div class="small-6 columns">
                                  <div class="radio-opt gender">
                                    <input type="radio" id="female" name="gender" value="female" data-calc="gender" required>
                                    <label for="female">Female <img class="form-img" src="img/gender-female.png" alt=""></label>
                                  </div>
                                </div>
                                <div class="small-6 columns">
                                  <div class="radio-opt gender">
                                    <input type="radio" id="male" name="gender" value="male" data-calc="gender">
                                    <label for="male">Male <img class="form-img" src="img/gender-male.png" alt=""></label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="small-12 medium-6 medium-centered columns end">
                          <div class="row">
                            <div class="small-8 small-centered columns text-center">
                              <label>Type your age</label>
                              <div class="row collapse">
                                <div class="small-8 columns">
                                  <input type="number" id="age" value="" data-calc="age" required>
                                </div>
                                <div class="small-4 columns">
                                  <span class="postfix">years</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="step-outro">
                        <div class="entry">

                          <!--<p></p>-->

                        </div>
                      </div>

                      <hr>

                      <div class="row">
                        <div class="medium-10 medium-centered columns">
                          <button class="button expand next" data-calculate="1">Next</button>
                        </div>
                      </div>

                    </div>
                  </fieldset>

                  <fieldset class="step step-2">

                    <div class="step-header row">
                      <div class="medium-9 columns">
                        <h2>Your weight and height</h2>
                      </div>
                    </div>

                    <div class="step-progress">

                      <div class="step-intro">
                        <div class="entry">

                          <!--<p></p>-->

                        </div>
                      </div>

                      <div class="row">
                        <div class="small-10 medium-6 columns system system-height selected">
                          <div class="row">
                            <div class="small-8 small-centered columns text-center">
                              <label>Height</label>
                              <div class="row collapse imperial">
                                <div class="small-4 columns imperial">
                                  <input class="height-feet" type="number" value="" data-calc="height-ft" required>
                                </div>
                                <div class="small-2 columns">
                                  <span class="postfix">
                                    <span class="imperial">ft</span>
                                  </span>
                                </div>
                                <div class="small-4 columns imperial">
                                  <input class="height-inches" type="number" value="0" data-calc="height-in">
                                </div>
                                <div class="small-2 columns">
                                  <span class="postfix">
                                    <span class="imperial">in</span>
                                  </span>
                                </div>
                              </div>
                              <div class="row collapse metric hide">
                                <div class="small-8 columns metric">
                                  <input type="number" value="" data-calc="height-cm">
                                </div>
                                <div class="small-4 columns end">
                                  <span class="postfix">
                                    <span class="metric">cm</span>
                                  </span>

                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="small-8 small-centered columns text-center">
                              <label class="hide">Metric system</label>
                              <input type="radio" id="imperial-height" name="system-height" value="imperial" data-calc="system-height" checked>
                              <label for="imperial-height">Inches</label>
                              <input type="radio" id="metric-height" name="system-height" value="metric" data-calc="system-height">
                              <label for="metric-height">CMs</label>
                            </div>
                          </div>
                        </div>
                        <div class="small-10 medium-6 columns end system system-weight selected">
                          <div class="row">
                            <div class="small-8 small-centered columns text-center">
                              <label>Body Weight</label>
                              <div class="row collapse">
                                <div class="small-8 columns">
                                  <input type="number" value="" data-calc="weight" required>
                                </div>
                                <div class="small-4 columns end">
                                  <span class="postfix">
                                    <span class="imperial">lbs</span>
                                    <span class="metric hide">kg</span>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="small-8 small-centered columns text-center">
                              <label class="hide">Metric system</label>
                              <input type="radio" id="imperial-weight" name="system-weight" value="imperial" data-calc="system-weight" checked>
                              <label for="imperial-weight">Pounds</label>
                              <input type="radio" id="metric-weight" name="system-weight" value="metric" data-calc="system-weight">
                              <label for="metric-weight">Kilos</label>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!--<hr>

                      <div class="row">
                        <div class="small-12 medium-8 columns">
                          <label>Excersise Level</label>
                          <select name="calc-activity" data-calc="activity">
                            <option value="1.0">Basal Metabolic Rate</option>
                            <option value="1.375" selected="selected">3 times per week</option>
                            <option value="1.42">4 times per week</option>
                            <option value="1.465">5 times per week</option>
                            <option value="1.5">6 times per week</option>
                            <option value="1.6375">7 times per week</option>
                          </select>
                        </div>
                      </div>

                      <div class="row">
                        <div class="small-12 medium-10 columns">
                          <label></label>
                          <div class="row">
                            <div class="small-12 columns">
                              <input type="checkbox" id="high-intensity-cardio" name="activity-extra" value="0.09" data-calc="activity-extra">
                              <label for="high-intensity-cardio">High Intensity Cardio</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="small-12 columns">
                              <input type="checkbox" id="physical-job" name="activity-extra" value="0.2" data-calc="activity-extra">
                              <label for="physical-job">Physical Job</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="small-12 columns">
                              <input type="checkbox" id="twice-daily" name="activity-extra" value="0.09" data-calc="activity-extra">
                              <label for="twice-daily">Twice daily</label>
                            </div>
                          </div>
                        </div>
                      </div>-->

                      <div class="calc-advanced-view">
                        <hr>

                        <div class="row">
                          <div class="medium-3 columns">&nbsp;</div>
                          <div class="medium-3 columns end">&nbsp;</div>
                        </div>
                        <div class="row" data-calc-level="bmr">
                          <div class="medium-3 columns"><strong>Your BMR</strong></div>
                          <div class="medium-3 columns end"><span data-calc-macro="cals">0</span> cals</div>
                        </div>
                        <div class="row" data-calc-level="custom">
                          <div class="medium-3 columns"><strong>Your TDDE</strong></div>
                          <div class="medium-3 columns end"><span data-calc-macro="cals">0</span> cals</div>
                        </div>
                      </div>

                      <div class="step-outro">
                        <div class="entry">

                          <!--<p></p>-->

                        </div>
                      </div>

                      <hr>

                      <div class="row">
                        <div class="medium-10 medium-centered columns">
                          <button class="button expand next" data-calculate="2">Next</button>
                        </div>
                      </div>

                    </div>
                  </fieldset>

                  <fieldset class="step step-3">

                    <div class="step-header row">
                      <div class="medium-9 columns">
                        <h2>Your body fat</h2>
                      </div>
                    </div>

                    <div class="step-progress">

                      <div class="step-intro">
                        <div class="entry">

                          <p>Please choose an image from the following list which most closely matches the amount of body fat you are carrying.</p>

                        </div>
                      </div>

                      <div class="bf-pick">
                        <div class="bf-gender bf-male row active">
                          <div class="small-6 medium-4 columns">
                            <div class="radio-opt">
                              <input type="radio" id="bfMale35" name="bf" value="35" data-calc="bf" required>
                              <label for="bfMale35">35% <img class="form-img" src="img/bodyfat-male-35.jpg" alt=""></label>
                            </div>
                          </div>
                          <div class="small-6 medium-4 columns">
                            <div class="radio-opt">
                              <input type="radio" id="bfMale30" name="bf" value="30" data-calc="bf">
                              <label for="bfMale30">30% <img class="form-img" src="img/bodyfat-male-30.jpg" alt=""></label>
                            </div>
                          </div>
                          <div class="small-6 medium-4 columns">
                            <div class="radio-opt">
                              <input type="radio" id="bfMale25" name="bf" value="25" data-calc="bf">
                              <label for="bfMale25">25% <img class="form-img" src="img/bodyfat-male-25.jpg" alt=""></label>
                            </div>
                          </div>
                          <div class="small-6 medium-4 columns">
                            <div class="radio-opt">
                              <input type="radio" id="bfMale20" name="bf" value="20" data-calc="bf">
                              <label for="bfMale20">20% <img class="form-img" src="img/bodyfat-male-20.jpg" alt=""></label>
                            </div>
                          </div>
                          <div class="small-6 medium-4 columns">
                            <div class="radio-opt">
                              <input type="radio" id="bfMale15" name="bf" value="15" data-calc="bf">
                              <label for="bfMale15">15% <img class="form-img" src="img/bodyfat-male-15.jpg" alt=""></label>
                            </div>
                          </div>
                          <div class="small-6 medium-4 columns">
                            <div class="radio-opt">
                              <input type="radio" id="bfMale12" name="bf" value="12" data-calc="bf">
                              <label for="bfMale12">12% <img class="form-img" src="img/bodyfat-male-12.jpg" alt=""></label>
                            </div>
                          </div>
                          <div class="small-6 medium-4 columns end">
                            <div class="radio-opt">
                              <input type="radio" id="bfMale8" name="bf" value="8" data-calc="bf">
                              <label for="bfMale8">8% <img class="form-img" src="img/bodyfat-male-8.jpg" alt=""></label>
                            </div>
                          </div>
                        </div>

                        <div class="bf-gender bf-female row">
                          <div class="small-6 medium-4 columns">
                            <div class="radio-opt">
                              <input type="radio" id="bfFemale45" name="bf" value="45" data-calc="bf">
                              <label for="bfFemale45">45% <img class="form-img" src="img/bodyfat-female-45.jpg" alt=""></label>
                            </div>
                          </div>
                          <div class="small-6 medium-4 columns">
                            <div class="radio-opt">
                              <input type="radio" id="bfFemale40" name="bf" value="40" data-calc="bf">
                              <label for="bfFemale40">40% <img class="form-img" src="img/bodyfat-female-40.jpg" alt=""></label>
                            </div>
                          </div>
                          <div class="small-6 medium-4 columns">
                            <div class="radio-opt">
                              <input type="radio" id="bfFemale35" name="bf" value="35" data-calc="bf">
                              <label for="bfFemale35">35% <img class="form-img" src="img/bodyfat-female-35.jpg" alt=""></label>
                            </div>
                          </div>
                          <div class="small-6 medium-4 columns">
                            <div class="radio-opt">
                              <input type="radio" id="bfFemale30" name="bf" value="30" data-calc="bf">
                              <label for="bfFemale30">30% <img class="form-img" src="img/bodyfat-female-30.jpg" alt=""></label>
                            </div>
                          </div>
                          <div class="small-6 medium-4 columns">
                            <div class="radio-opt">
                              <input type="radio" id="bfFemale25" name="bf" value="25" data-calc="bf">
                              <label for="bfFemale25">25% <img class="form-img" src="img/bodyfat-female-25.jpg" alt=""></label>
                            </div>
                          </div>
                          <div class="small-6 medium-4 columns">
                            <div class="radio-opt">
                              <input type="radio" id="bfFemale20" name="bf" value="20" data-calc="bf">
                              <label for="bfFemale20">20% <img class="form-img" src="img/bodyfat-female-20.jpg" alt=""></label>
                            </div>
                          </div>
                          <div class="small-6 medium-4 columns end">
                            <div class="radio-opt">
                              <input type="radio" id="bfFemale15" name="bf" value="15" data-calc="bf">
                              <label for="bfFemale15">15% <img class="form-img" src="img/bodyfat-female-15.jpg" alt=""></label>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="step-outro">
                        <div class="entry">

                          <!--<p></p>-->

                        </div>
                      </div>

                      <hr>

                      <div class="row">
                        <div class="medium-10 medium-centered columns">
                          <button class="button expand next" data-calculate="3">Next</button>
                        </div>
                      </div>

                    </div>
                  </fieldset>

                  <fieldset class="step step-4">

                    <div class="step-header row">
                      <div class="medium-9 columns">
                        <h2>How much do you exercise?</h2>
                      </div>
                    </div>

                    <div class="step-progress">

                      <div class="step-intro">
                        <div class="entry">

                          <!--<p></p>-->

                        </div>
                      </div>

                      <div class="row">
                        <div class="small-12 medium-6 columns">
                          <label>Excersise Level</label>
                          <select name="calc-activity" data-calc="activity" required>
                            <option value="1.0">Basal Metabolic Rate</option>
                            <option value="1.375" selected="selected">3 times per week</option>
                            <option value="1.42">4 times per week</option>
                            <option value="1.465">5 times per week</option>
                            <option value="1.5">6 times per week</option>
                            <option value="1.6375">7 times per week</option>
                          </select>
                        </div>
                      </div>

                      <div class="row">
                        <div class="small-12 medium-10 columns">
                          <label></label>
                          <div class="row">
                            <div class="small-12 columns">
                              <input type="checkbox" id="high-intensity-cardio" name="activity-extra" value="0.09" data-calc="activity-extra">
                              <label for="high-intensity-cardio">High Intensity Cardio</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="small-12 columns">
                              <input type="checkbox" id="physical-job" name="activity-extra" value="0.2" data-calc="activity-extra">
                              <label for="physical-job">Physical Job</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="small-12 columns">
                              <input type="checkbox" id="twice-daily" name="activity-extra" value="0.09" data-calc="activity-extra">
                              <label for="twice-daily">Twice daily</label>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="step-outro">
                        <div class="entry">

                          <!--<p></p>-->

                        </div>
                      </div>

                      <hr>

                      <div class="row">
                        <div class="medium-10 medium-centered columns">
                          <button class="button expand next" data-calculate="4">Next</button>
                        </div>
                      </div>

                    </div>
                  </fieldset>

                  <fieldset class="step step-5">

                    <div class="step-header row">
                      <div class="medium-9 columns">
                        <h2>Choose your goals</h2>
                      </div>
                    </div>

                    <div class="step-progress">

                      <div class="step-intro">
                        <div class="entry">

                          <!--<p></p>-->

                        </div>
                      </div>

                      <div class="row">
                        <div class="small-12 medium-4 columns">
                          <label>My goal is to...</label>
                          <div class="row">
                            <div class="small-12 columns">
                              <input type="radio" id="goalLoseFat" name="goalPrimary" value="1" data-calc="goal-primary" required>
                              <label for="goalLoseFat">Lose fat</label>
                            </div>
                            <div class="small-12 columns">
                              <input type="radio" id="goalMaintainWeight" name="goalPrimary" value="2" data-calc="goal-primary">
                              <label for="goalMaintainWeight">Maintain weight</label>
                            </div>
                            <div class="small-12 columns">
                              <input type="radio" id="goalGainMuscle" name="goalPrimary" value="3" data-calc="goal-primary">
                              <label for="goalGainMuscle">Gain muscle</label>
                            </div>
                          </div>
                        </div>
                        <div class="goal form-toggled small-12 medium-8 columns" data-goal="1">
                          <h4 class="hide">Lose fat</h4>
                          <div class="goal-cals calc-advanced-view">
                            <span class="cals" data-calc-goal-calories="fat-loss">0</span> Calories/day
                          </div>
                          <div class="row">
                            <div class="small-12 columns">
                              <div class="radio-opt">
                                <input type="radio" id="fatLoss-suggested" name="goal" value="15" data-calc="goal" data-calc-goal="fat-loss" required>
                                <label for="fatLoss-suggested">Lose fat whilst maintaining as much muscle as possible</label>
                              </div>
                            </div>
                            <div class="small-12 columns">
                              <div class="radio-opt">
                                <input class="selected" type="radio" id="fatLoss-aggressive" name="goal" value="20" data-calc="goal" data-calc-goal="fat-loss">
                                <label for="fatLoss-aggressive">Lose fat and willing to sacrifice muscle for quicker results (some cravings)</label>
                              </div>
                            </div>
                            <div class="small-12 columns">
                              <div class="radio-opt">
                                <input type="radio" id="fatLoss-reckless" name="goal" value="25" data-calc="goal" data-calc-goal="fat-loss">
                                <label for="fatLoss-reckless">Lose fat and willing to sacrifice muscle for fastest results (higher cravings)</label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="goal form-toggled small-12 medium-8 columns" data-goal="2">
                          <h4 class="hide">Maintain weight</h4>
                          <div class="goal-cals calc-advanced-view">
                            <span class="cals" data-calc-goal-calories="maintain">0</span> Calories/day
                          </div>
                          <div class="row">
                            <div class="small-12 columns">
                              <div class="radio-opt">
                                <input class="selected" type="radio" id="maintain-tdde" name="goal" value="15" data-calc="goal" data-calc-goal="maintain">
                                <label for="maintain-tdde">Maintain weight</label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="goal form-toggled small-12 medium-8 columns" data-goal="3">
                          <h4 class="hide">Gain muscle</h4>
                          <div class="goal-cals calc-advanced-view">
                            <span class="cals" data-calc-goal-calories="bulking">0</span> Calories/day
                          </div>
                          <div class="row">
                            <div class="small-12 columns">
                              <div class="radio-opt">
                                <input type="radio" id="bulk-cautious" name="goal" value="15" data-calc="goal" data-calc-goal="bulking">
                                <label for="bulk-cautious">Gain muscle whilst keeping body fat as low as possible</label>
                              </div>
                            </div>
                            <div class="small-12 columns">
                              <div class="radio-opt">
                                <input class="selected" type="radio" id="bulk-textBook" name="goal" value="20" data-calc="goal" data-calc-goal="bulking">
                                <label for="bulk-textBook">Gain muscle and willing to gain some body fat in the process</label>
                              </div>
                            </div>
                            <div class="small-12 columns">
                              <div class="radio-opt">
                                <input type="radio" id="bulk-aggressive" name="goal" value="25" data-calc="goal" data-calc-goal="bulking">
                                <label for="bulk-aggressive">Gain as much muscle as possible and willing to gain more fat in the process</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="step-outro">
                        <div class="entry">

                          <!--<p></p>-->

                        </div>
                      </div>

                      <hr>

                      <div class="row">
                        <div class="medium-10 medium-centered columns">
                          <button class="button expand next" data-calculate="5">Next</button>
                        </div>
                      </div>

                    </div>
                  </fieldset>

                  <fieldset class="step step-6">

                    <div class="step-header row">
                      <div class="medium-9 columns">
                        <h2>What sport do you take part in?</h2>
                      </div>
                    </div>

                    <div class="step-progress">

                      <div class="step-intro">
                        <div class="entry">

                          <!--<p></p>-->

                        </div>
                      </div>

                      <div class="row">
                        <div class="medium-10 columns">
                          <label>I want to...</label>
                            <div class="row">
                              <div class="small-6 columns">
                                <div class="radio-opt ratios">
                                  <input type="radio" id="ratios-bodybuilder" name="ratios" value="bodybuilder" data-calc="ratios" data-name="bodybuilder" data-protein="40" data-fat="20" data-carbs="40" required>
                                  <label for="ratios-bodybuilder">Build muscle and maintain a low bodyfat - energy may be lower</label>
                                </div>
                              </div>
                              <div class="small-6 columns">
                                <div class="radio-opt ratios">
                                  <input type="radio" id="ratios-moderate" name="ratios" value="moderate" data-calc="ratios" data-name="moderate" data-protein="35" data-fat="15" data-carbs="50">
                                  <label for="ratios-moderate">Take part in endurance / performance sports - (boxing, spinning, cycling</label>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="small-12 columns">
                          <div class="row calc-advanced-view">
                            <div class="small-4 columns">
                              <label>Protein</label>
                              <div class="row collapse">
                                <div class="small-8 columns">
                                  <input type="text" name="ratio-protein" id="ratio-protein" data-ratio="protein" value="40">
                                </div>
                                <div class="small-4 columns">
                                  <span class="postfix">%</span>
                                </div>
                              </div>
                            </div>

                            <div class="small-4 columns">
                              <label>Fat</label>
                              <div class="row collapse">
                                <div class="small-8 columns">
                                  <input type="text" name="ratio-fat" id="ratio-fat" data-ratio="fat" value="20">
                                </div>
                                <div class="small-4 columns">
                                  <span class="postfix">%</span>
                                </div>
                              </div>
                            </div>

                            <div class="small-4 columns end">
                              <label>Carbs</label>
                              <div class="row collapse">
                                <div class="small-8 columns">
                                  <input type="text" name="ratio-carbs" id="ratio-carbs" data-ratio="carbs" value="40">
                                </div>
                                <div class="small-4 columns">
                                  <span class="postfix">%</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="step-outro">
                        <div class="entry">

                          <!--<p></p>-->

                        </div>
                      </div>

                      <hr>

                      <div class="row">
                        <div class="medium-10 medium-centered columns">
                          <button class="button expand next" data-calculate="6">Your result</button>
                        </div>
                      </div>

                    </div>
                  </fieldset>

                  <fieldset class="step step-7">

                    <div class="step-header row">
                      <div class="medium-9 columns">
                        <h2>Your Calories and recommended nutritional breakdown with meals</h2>
                      </div>
                    </div>

                    <div class="step-progress">

                      <div class="step-intro">
                        <div class="entry">

                          <p>Below is what we calculate your body to need on a daily basis to meet your goals asuming that you currently have a fairly normal metabolism. Once you begin your meal plan we will revisit these numbers and adjust them depending on how you have responded to this nutritional breakdown.</p>

                        </div>
                      </div>

                      <div class="row">
                        <div class="medium-6 medium-centered columns">

                          <h3>Your Daily Nutritional Needs</h3>
                          <div class="row">
                            <div class="medium-10 columns">
                              <strong><span data-calc-macro="level">Basal Metabolic Rate</span></strong>
                            </div>
                          </div>
                          <div class="row" data-calc-level="result">
                            <div class="small-6 columns">Calories</div>
                            <div class="small-6 columns"><span data-calc-macro="cals">0</span> cals</div>
                          </div>
                          <div class="row" data-calc-level="result">
                            <div class="small-6 columns">Protein</div>
                            <div class="small-6 columns"><span data-calc-macro="prot">0</span> g</div>
                          </div>
                          <div class="row" data-calc-level="result">
                            <div class="small-6 columns">Fat</div>
                            <div class="small-6 columns"><span data-calc-macro="fat">0</span> g</div>
                          </div>
                          <div class="row" data-calc-level="result">
                            <div class="small-6 columns">Carbs</div>
                            <div class="small-6 columns"><span data-calc-macro="carb">0</span> g</div>
                          </div>

                        </div>
                      </div>

                      <hr>

                      <div class="row">
                        <div class="medium-8 medium-centered columns text-center">
                          <a class="button" data-meal-link href="/meal-planner/" target="_blank">Create Your Personalised Meal Plan</a>
                        </div>
                      </div>

                      <hr>

                      <div class="row">
                        <div class="small-12 columns text-center">
                          <a class="button" href="http://gsntransformationcentre.co.uk/">Start over</a>
                        </div>
                      </div>

                      <div class="step-outro">
                        <div class="entry">

                          <!--<p></p>-->

                        </div>
                      </div>

                    </div>
                  </fieldset>

                  <div class="row" data-calc-bmr="male" style="display: none;">
                    <div class="small-12 columns">
                      <strong>Men:</strong> BMR = 88.362 + (13.397 x weight in kg) + (4.799 x height in cm) - (5.677 x age in year)
                    </div>
                    <div class="small-3 columns">
                      <input type="text" value="88.362" data-calc-bmr="1">
                    </div>
                    <div class="small-3 columns">
                      <input type="text" value="13.397" data-calc-bmr="2">
                    </div>
                    <div class="small-3 columns">
                      <input type="text" value="4.799" data-calc-bmr="3">
                    </div>
                    <div class="small-3 columns">
                      <input type="text" value="5.677" data-calc-bmr="4">
                    </div>
                  </div>

                  <div class="row" data-calc-bmr="female" style="display: none;">
                    <div class="small-12 columns">
                      <strong>Women:</strong> BMR = 447.593 + (9.247 x weight in kg) + (3.098 x height in cm) - (4.330 x age in years)
                    </div>
                    <div class="small-3 columns">
                      <input type="text" value="447.593" data-calc-bmr="1">
                    </div>
                    <div class="small-3 columns">
                      <input type="text" value="9.247" data-calc-bmr="2">
                    </div>
                    <div class="small-3 columns">
                      <input type="text" value="3.098" data-calc-bmr="3">
                    </div>
                    <div class="small-3 columns">
                      <input type="text" value="4.330" data-calc-bmr="4">
                    </div>
                  </div>

                  <!--</div>-->

                </form>
                </div>
              </section>
              
              <div class="advanced-toggle">Advanced</div>

            </article>

          </div>
        </main>

        @@include('./../includes/footer.html')

      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
    <script src="js/app.js"></script>
  </body>
</html>
