<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    @@include('./../includes/meta.html', {"title": "Home"})
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-542M43"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-542M43');</script>
    <!-- End Google Tag Manager -->

        @@include('./../includes/banner.html', {"class": "has-hero"})

        <main id="content" class="group" role="main">
          <div class="main">

            <article class="post">

              <header class="post-header">
                <div>
                  <h1>Macro Calculator</h1>
                </div>
              </header>

              <!--<div class="post-entry">

                <p></p>

              </div>-->

              <section class="calculator">

                <div class="calc">
                  <form class="calc-form">

                    <!--<div class="row">
                      <div class="small-12 columns">
                        <p>(type in your information in the yellow boxes, blue are calculated values)</p>
                      </div>
                      <div class="medium-6 columns">
                        <label>(pre calculation for the metric folks)</label>
                      </div>
                      <div class="medium-6 columns">
                        <div class="row">
                          <div class="small-4 columns">
                            <div class="row collapse">
                              <div class="small-9 columns">
                                <input type="text" value="176.0">
                              </div>
                              <div class="small-3 columns">
                                <span class="postfix">cm</span>
                              </div>
                            </div>
                          </div>
                          <div class="small-4 columns text-center">
                            <label>=</label>
                          </div>
                          <div class="small-4 columns">
                            <div class="row collapse">
                              <div class="small-9 columns">
                                <input type="text" value="" readonly>
                              </div>
                              <div class="small-3 columns">
                                <span class="postfix">in</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="small-4 columns">
                            <div class="row collapse">
                              <div class="small-9 columns">
                                <input type="text" value="86.0">
                              </div>
                              <div class="small-3 columns">
                                <span class="postfix">kg</span>
                              </div>
                            </div>
                          </div>
                          <div class="small-4 columns text-center">
                            <label>=</label>
                          </div>
                          <div class="small-4 columns">
                            <div class="row collapse">
                              <div class="small-9 columns">
                                <input type="text" value="" readonly>
                              </div>
                              <div class="small-3 columns">
                                <span class="postfix">lbs</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>-->

                    <div class="row">
                      <div class="medium-9 columns">
                        <h3>Step 1: Calculate your TDDE</h3>
                      </div>
                    </div>

                    <div class="row">
                      <div class="small-8 medium-12 large-6 columns">
                        <div class="row">
                          <div class="small-12 columns">
                            <label>Gender</label>
                            <input type="radio" id="male" name="gender" value="male" data-calc="gender" checked>
                            <label for="male">Male</label>
                            <input type="radio" id="female" name="gender" value="female" data-calc="gender">
                            <label for="female">Female</label>
                          </div>
                        </div>
                      </div>

                      <div class="small-8 medium-4 large-2 columns">
                        <div class="row">
                          <div class="small-12 columns">
                            <label>Age (year)</label>
                            <div class="row collapse">
                              <div class="small-8 columns">
                                <input type="text" value="29" data-calc="age">
                              </div>
                              <div class="small-4 columns">
                                <span class="postfix">years</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="small-8 medium-4 large-2 columns">
                        <div class="row">
                          <div class="small-12 columns">
                            <label>Height (in)</label>
                            <div class="row collapse">
                              <div class="small-8 columns">
                                <input type="text" value="65" data-calc="height">
                              </div>
                              <div class="small-4 columns">
                                <span class="postfix">in</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="small-8 medium-4 large-2 columns end">
                        <div class="row">
                          <div class="small-12 columns">
                            <label>Body Weight (lbs)</label>
                            <div class="row collapse">
                              <div class="small-8 columns">
                                <input type="text" value="187" data-calc="weight">
                              </div>
                              <div class="small-4 columns">
                                <span class="postfix">in</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <hr>

                    <div class="row">
                      <div class="small-12 medium-6 columns">
                        <div class="row">
                          <div class="small-12 columns">
                            <input type="radio" id="forumla-athletes" name="formula" value="0" data-calc="formula" checked>
                            <label for="forumla-athletes">Athletes Formula (best for lean people)</label>
                          </div>
                          <div class="small-12 columns">
                            <input type="radio" id="formula-leanMass" name="formula" value="1" data-calc="formula">
                            <label for="formula-leanMass">Lean Mass Formula (best if overweight)</label>
                          </div>
                        </div>

                        <div style="display: none;">
                          <div class="row">
                            <div class="small-8 columns">
                              <label>LBM</label>
                            </div>
                            <div class="small-4 columns">
                              <div class="row collapse">
                                <div class="small-9 columns">
                                  <input type="text" value="" readonly data-calc="lbm">
                                </div>
                                <div class="small-3 columns">
                                  <span class="postfix">lbs</span>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="small-8 columns">
                              <label>Recommended Cals</label>
                            </div>
                            <div class="small-4 columns">
                              <div class="row collapse">
                                <div class="small-9 columns">
                                  <input type="text" value="" readonly data-calc="recCals">
                                </div>
                                <div class="small-3 columns">
                                  <span class="postfix">cals</span>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="small-8 columns">
                              <label>Recommended Protein</label>
                            </div>
                            <div class="small-4 columns">
                              <div class="row collapse">
                                <div class="small-9 columns">
                                  <input type="text" value="" readonly data-calc="recProt">
                                </div>
                                <div class="small-3 columns">
                                  <span class="postfix">g</span>
                                </div>
                              </div>
                            </div>
                            <div class="small-4 columns">
                              <div class="row collapse">
                                <div class="small-9 columns">
                                  <input type="text" value="" readonly data-calc="recProtPercent">
                                </div>
                                <div class="small-3 columns">
                                  <span class="postfix">%</span>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="small-8 columns">
                              <label>Recommended Fat</label>
                            </div>
                            <div class="small-4 columns">
                              <div class="row collapse">
                                <div class="small-9 columns">
                                  <input type="text" value="" readonly data-calc="recFat">
                                </div>
                                <div class="small-3 columns">
                                  <span class="postfix">%</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="small-12 medium-6 columns">
                        <div class="row">
                          <div class="small-12 medium-8 columns">
                            <label>Excersise Level</label>
                            <select name="calc-activity" data-calc="activity">
                              <option value="1.0">Basal Metabolic Rate</option>
                              <option value="1.2" selected="selected">Sedentary</option>
                              <option value="1.375">Light Activity</option>
                              <option value="1.4187">Moderate Activity</option>
                              <option value="1.5063">Very Active</option>
                              <option value="1.6375">Extremely Active</option>
                            </select>
                          </div>
                        </div>

                        <div class="row">
                          <div class="small-8 medium-4 columns">
                            <label>BF%</label>
                          </div>
                          <div class="small-4 columns end">
                            <div class="row collapse">
                              <div class="small-9 columns">
                                <input type="text" value="20" readonly data-calc="bf">
                              </div>
                              <div class="small-3 columns">
                                <span class="postfix">%</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="medium-3 columns">&nbsp;</div>
                          <div class="medium-3 columns end">Calories</div>
                          <!--<div class="medium-2 columns">Protein</div>
                          <div class="medium-2 columns">Fat</div>
                          <div class="medium-2 columns">Carb</div>-->
                        </div>
                        <div class="row" data-calc-level="bmr">
                          <div class="medium-3 columns"><strong>Your BMR</strong></div>
                          <div class="medium-3 columns end"><span data-calc-macro="cals">0</span> cals</div>
                          <!--<div class="medium-2 columns"><span data-calc-macro="prot">0</span> g</div>
                          <div class="medium-2 columns"><span data-calc-macro="fat">0</span> g</div>
                          <div class="medium-2 columns"><span data-calc-macro="carb">0</span> g</div>-->
                        </div>
                        <div class="row" data-calc-level="custom">
                          <div class="medium-3 columns"><strong>Your TDDE</strong></div>
                          <div class="medium-3 columns end"><span data-calc-macro="cals">0</span> cals</div>
                          <!--<div class="medium-2 columns"><span data-calc-macro="prot">0</span> g</div>
                          <div class="medium-2 columns"><span data-calc-macro="fat">0</span> g</div>
                          <div class="medium-2 columns"><span data-calc-macro="carb">0</span> g</div>-->
                        </div>
                      </div>
                    </div>

                    <hr>

                    <div class="row">
                      <div class="medium-9 columns">
                        <h3>Step 2: Choose your goals</h3>
                      </div>
                    </div>

                    <div class="row">
                      <div class="medium-3 columns">
                        <h4>Fat loss</h4>
                        <div class="goal-cals">
                          <strong>0</strong> Calories/day
                        </div>
                        <div class="row">
                          <div class="small-12 columns">
                            <input type="radio" id="fatLoss-suggested" name="goal" value="15" data-calc="fat">
                            <label for="fatLoss-suggested">Suggested 15%</label>
                          </div>
                          <div class="small-12 columns">
                            <input type="radio" id="fatLoss-aggressive" name="goal" value="20" data-calc="fat">
                            <label for="fatLoss-aggressive">Aggressive 20%</label>
                          </div>
                          <div class="small-12 columns">
                            <input type="radio" id="fatLoss-reckless" name="goal" value="25" data-calc="fat">
                            <label for="fatLoss-reckless">Reckless 25%</label>
                          </div>
                        </div>
                      </div>
                      <div class="medium-3 columns">
                        <h4>Maintain</h4>
                        <div class="goal-cals">
                          <strong>0</strong> Calories/day
                        </div>
                        <div class="row">
                          <div class="small-12 columns">
                            <input type="radio" id="maintain-tdde" name="goal" value="15" data-calc="maintain">
                            <label for="maintain-tdde">Same as TDDE</label>
                          </div>
                        </div>
                      </div>
                      <div class="medium-3 columns">
                        <h4>Bulking</h4>
                        <div class="goal-cals">
                          <strong>0</strong> Calories/day
                        </div>
                        <div class="row">
                          <div class="small-12 columns">
                            <input type="radio" id="bulk-cautious" name="goal" value="15" data-calc="bulking">
                            <label for="bulk-cautious">Cautious 5%</label>
                          </div>
                          <div class="small-12 columns">
                            <input type="radio" id="bulk-textBook" name="goal" value="20" data-calc="bulking">
                            <label for="bulk-textBook">Text Book 10%</label>
                          </div>
                          <div class="small-12 columns">
                            <input type="radio" id="bulk-aggressive" name="goal" value="25" data-calc="bulking">
                            <label for="bulk-aggressive">Aggressive 15%</label>
                          </div>
                        </div>
                      </div>
                      <div class="medium-3 columns">
                        <h4>Custom</h4>
                        <div class="goal-cals">
                          <strong>0</strong> Calories/day
                        </div>
                      </div>
                    </div>

                    <!--<div class="row">
                      <div class="large-3 columns">
                        <label>macronutrient ratios</label>
                      </div>
                      <div class="small-4 medium-3 large-2 columns">
                        <div class="row collapse">
                          <div class="small-9 columns">
                            <input type="text" value="41.7" data-calc>
                          </div>
                          <div class="small-3 columns">
                            <span class="postfix">%</span>
                          </div>
                        </div>
                      </div>
                      <div class="small-4 medium-3 large-2 columns">
                        <div class="row collapse">
                          <div class="small-9 columns">
                            <input type="text" value="20" data-calc>
                          </div>
                          <div class="small-3 columns">
                            <span class="postfix">%</span>
                          </div>
                        </div>
                      </div>
                      <div class="small-4 medium-3 large-2 columns">
                        <div class="row collapse">
                          <div class="small-9 columns">
                            <input type="text" value="38.3" data-calc>
                          </div>
                          <div class="small-3 columns">
                            <span class="postfix">%</span>
                          </div>
                        </div>
                      </div>
                      <div class="medium-3 large-3 columns">
                        <div class="row collapse">
                          <div class="medium-10 large-6 columns">
                            <input type="text" value="-300">
                          </div>
                        </div>
                        cals less or more calories for workout goals
                      </div>
                    </div>-->

                    <hr>

                    <div class="row">
                      <div class="medium-9 columns">
                        <h3>Step 3: Select your nutrition plan</h3>
                      </div>
                    </div>

                    <hr>

                    <div class="row">
                      <div class="medium-9 columns">
                        <h3>Step 4: View your results</h3>
                      </div>
                    </div>

                    <div class="row">
                      <div class="medium-8 columns">
                        <div class="row">
                          <div class="medium-4 columns">&nbsp;</div>
                          <div class="medium-2 columns">Calories</div>
                          <div class="medium-2 columns">Protein</div>
                          <div class="medium-2 columns">Fat</div>
                          <div class="medium-2 columns">Carb</div>
                        </div>
                        <div class="row" data-calc-level="custom">
                          <div class="medium-4 columns"><strong><span data-calc-macro="level">Basal Metabolic Rate</span></strong></div>
                          <div class="medium-2 columns"><span data-calc-macro="cals">0</span> cals</div>
                          <div class="medium-2 columns"><span data-calc-macro="prot">0</span> g</div>
                          <div class="medium-2 columns"><span data-calc-macro="fat">0</span> g</div>
                          <div class="medium-2 columns"><span data-calc-macro="carb">0</span> g</div>
                        </div>
                      </div>
                      <!--<div class="medium-4 columns">
                        <div class="row">
                          <div class="small-4 columns">
                            <label>Carbs</label>
                          </div>
                          <div class="small-4 columns text-center">
                            <div class="row collapse">
                              <div class="small-9 columns">
                                <input type="text" value="0.5" readonly data-calc-work="carbs">
                              </div>
                              <div class="small-3 columns">
                                <span class="postfix">lbs</span>
                              </div>
                            </div>
                          </div>
                          <div class="small-4 columns">
                            <div class="row collapse">
                              <div class="small-9 columns">
                                <input type="text" value="" readonly data-calc-need="carbs">
                              </div>
                              <div class="small-3 columns">
                                <span class="postfix">g</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="small-4 columns">
                            <label>Protein</label>
                          </div>
                          <div class="small-4 columns text-center">
                            <div class="row collapse">
                              <div class="small-9 columns">
                                <input type="text" value="1.5" readonly data-calc-work="prot">
                              </div>
                              <div class="small-3 columns">
                                <span class="postfix">lbs</span>
                              </div>
                            </div>
                          </div>
                          <div class="small-4 columns">
                            <div class="row collapse">
                              <div class="small-9 columns">
                                <input type="text" value="" readonly data-calc-need="prot">
                              </div>
                              <div class="small-3 columns">
                                <span class="postfix">g</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="small-4 columns">
                            <label>Fat</label>
                          </div>
                          <div class="small-4 columns text-center">
                            <div class="row collapse">
                              <div class="small-9 columns">
                                <input type="text" value="0.25" readonly data-calc-work="fat">
                              </div>
                              <div class="small-3 columns">
                                <span class="postfix">lbs</span>
                              </div>
                            </div>
                          </div>
                          <div class="small-4 columns">
                            <div class="row collapse">
                              <div class="small-9 columns">
                                <input type="text" value="" readonly data-calc-need="fat">
                              </div>
                              <div class="small-3 columns">
                                <span class="postfix">g</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <h3>Cals</h3>

                        <div class="row">
                          <div class="small-4 columns">
                            <label>Week 1</label>
                          </div>
                          <div class="small-4 columns text-center">
                            <div class="row collapse">
                              <div class="small-9 columns">
                                <input type="text" value="13.5" readonly data-calc-work="week1">
                              </div>
                              <div class="small-3 columns">
                                <span class="postfix">lbs</span>
                              </div>
                            </div>
                          </div>
                          <div class="small-4 columns">
                            <div class="row collapse">
                              <div class="small-9 columns">
                                <input type="text" value="" readonly data-calc-need="week1">
                              </div>
                              <div class="small-3 columns">
                                <span class="postfix">cals</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="small-4 columns">
                            <label>Week 2</label>
                          </div>
                          <div class="small-4 columns text-center">
                            <div class="row collapse">
                              <div class="small-9 columns">
                                <input type="text" value="12" readonly data-calc-work="week2">
                              </div>
                              <div class="small-3 columns">
                                <span class="postfix">lbs</span>
                              </div>
                            </div>
                          </div>
                          <div class="small-4 columns">
                            <div class="row collapse">
                              <div class="small-9 columns">
                                <input type="text" value="" readonly data-calc-need="week2">
                              </div>
                              <div class="small-3 columns">
                                <span class="postfix">cals</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="small-4 columns">
                            <label>Week 3</label>
                          </div>
                          <div class="small-4 columns text-center">
                            <div class="row collapse">
                              <div class="small-9 columns">
                                <input type="text" value="11" readonly data-calc-work="week3">
                              </div>
                              <div class="small-3 columns">
                                <span class="postfix">lbs</span>
                              </div>
                            </div>
                          </div>
                          <div class="small-4 columns">
                            <div class="row collapse">
                              <div class="small-9 columns">
                                <input type="text" value="" readonly data-calc-need="week3">
                              </div>
                              <div class="small-3 columns">
                                <span class="postfix">cals</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="small-4 columns">
                            <label>Week 4</label>
                          </div>
                          <div class="small-4 columns text-center">
                            <div class="row collapse">
                              <div class="small-9 columns">
                                <input type="text" value="10" readonly data-calc-work="week4">
                              </div>
                              <div class="small-3 columns">
                                <span class="postfix">lbs</span>
                              </div>
                            </div>
                          </div>
                          <div class="small-4 columns">
                            <div class="row collapse">
                              <div class="small-9 columns">
                                <input type="text" value="" readonly data-calc-need="week4">
                              </div>
                              <div class="small-3 columns">
                                <span class="postfix">cals</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>-->
                    </div>

                    <div class="row" data-calc-bmr="male" style="display: none;">
                      <div class="small-12 columns">
                        <strong>Men:</strong> BMR = 66 + ( 6.23 x weight in pounds ) + ( 12.7 x height in inches ) - ( 6.8 x age in year )
                      </div>
                      <div class="small-3 columns">
                        <input type="text" value="66" data-calc-bmr="1">
                      </div>
                      <div class="small-3 columns">
                        <input type="text" value="6.23" data-calc-bmr="2">
                      </div>
                      <div class="small-3 columns">
                        <input type="text" value="12.7" data-calc-bmr="3">
                      </div>
                      <div class="small-3 columns">
                        <input type="text" value="6.8" data-calc-bmr="4">
                      </div>
                    </div>

                    <div class="row" data-calc-bmr="female" style="display: none;">
                      <div class="small-12 columns">
                        <strong>Women:</strong> BMR = 655 + ( 4.35 x weight in pounds ) + ( 4.7 x height in inches ) - ( 4.7 x age in years )
                      </div>
                      <div class="small-3 columns">
                        <input type="text" value="655" data-calc-bmr="1">
                      </div>
                      <div class="small-3 columns">
                        <input type="text" value="4.35" data-calc-bmr="2">
                      </div>
                      <div class="small-3 columns">
                        <input type="text" value="4.7" data-calc-bmr="3">
                      </div>
                      <div class="small-3 columns">
                        <input type="text" value="4.7" data-calc-bmr="4">
                      </div>
                    </div>

                  </form>

                  <div class="calculator-help">
                    <p></p>
                  </div>

                </div>

              </section>

            </article>

          </div>
        </main>

        @@include('./../includes/footer.html')

      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
    <script src="js/vendor/jquery-ui.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
